.brazilian-cities.text-center
    .form-horizontal
      .form-group
        label(for="state") Estado&nbsp;
        select.form-control(name="state" ng-required="to.required" ng-options="state.label for state in states track by state.cod" ng-model="internalModel.state" ng-change="onSelectState()")
          option(value="" disabled hidden)
            | selecione
        |&nbsp;&nbsp;

      .form-group
        label(for="city") Cidade&nbsp;
        input.form-control(type="text" name="city" ng-required="to.required" uib-typeahead="city as city.label for city in internalModel.state.cities | filter:$viewValue | limitTo:8" ng-model="internalModel.city" typeahead-on-select="onSelectCity()")