.brazilian-cities.text-center
    .form-horizontal
      .form-group
        label(for="state") Estado&nbsp;
        select.form-control(name="state" ng-required="to.required" ng-options="state.label for state in states track by state.cod" ng-model="internalModel.state" ng-change="onSelectState()")
          option(value="" disabled hidden)
            | selecione
        |&nbsp;&nbsp;

      .form-group
        label(for="city") Cidade&nbsp;
        select.form-control(name="city" ng-required="to.required" ng-options="city.label for city in internalModel.state.cities track by city.cod" ng-model="internalModel.city" ng-change="onSelectCity()")
          option(value="")
            | selecione
        |&nbsp;&nbsp;
