.age-inputs.text-center
  .form-horizontal
    .row(ng-repeat="age in model")
      .form-group.age-box
        .col-xs-6.text-right
          label.control-label {{ config[age.type].label }}
        .col-xs-6.text-left
          input.form-control.inline-block(type="number" required min="1" max="99" placeholder="idade" ng-model="age.value" style="width: initial; display: inline-block")
          a.btn.btn-link.btn-sm(ng-click="remove($index)" ng-hide="config[age.type].notRemove")
            i.fa.fa-close

  uib-dropdown.btn-group
    button#single-button.btn.btn-default.btn-sm(uib-dropdown-toggle ng-disabled="remainingTypes.length == 0")
      i.fa.fa-plus-circle
      | &nbsp;Adicionar Dependente &nbsp;&nbsp;&nbsp;&nbsp;
      span.caret
    ul.dropdown-menu(uib-dropdown-menu, role='menu', aria-labelledby='single-button')
      li(ng-repeat="type in remainingTypes")
        a(ng-click="add(type.id)") {{ type.label }}
