<div class="container">
  <br>
  <br>
  <div class="row col-lg-12">
    <form name="form" novalidate>
      <things flow="$ctrl.flow" things="$ctrl.things" model="$ctrl.model"> </things>
      <formly-form model="$ctrl.user" fields="$ctrl.userFields">
      <button type="submit" class="btn btn-primary" ng-click="$ctrl.submit(user)" ng-disabled="form.$invalid || form.$pending">Submit</button>
    </form>
  </div>
  <!-- <code> {{ $ctrl.user }} </code>
  <code> {{ $ctrl.userFields }} </code> -->

  <br>
  <br>
  <br>

  <div class="row col-lg-12">
    <!-- <pre>{{ form | json }}</pre> -->
    <pre>{{ $ctrl.user | json }}</pre>
    <!-- <code>{{ $ctrl.user | json }}</code> -->
  </div>
</div>
