.big-buttons {
  button {
    margin: 6px;

    width: 200px;

    img {
      width: 100px;
      margin: auto;
    }
  }
}

.file-upload {
  input::-webkit-input-placeholder {
    color: #444 !important;
  }
  
  input:-moz-placeholder { /* Firefox 18- */
    color: #444 !important;  
  }
  
  input::-moz-placeholder {  /* Firefox 19+ */
    color: #444 !important;  
  }
  
  input:-ms-input-placeholder {  
    color: #444 !important;  
  }
}

.upload-feedback {
    position: relative;
    margin: -16px;
    right: 25px;
    width: 0px;
    background: white;
    padding: 8px;
}

.no-border {
    max-width: 50px;
    height: 45px;
    margin-top: 0px;
    display: inline-block;
    border:none;
    border-radius: 0px;
    padding: 0px;
}
