.input-group.stackable
    .input-group-addon(ng-if='to.inputGroupAddon')
        span.input-group-text(ng-bind-html='to.inputGroupAddon')
    input.form-control.no-border(type='text' ng-model='model[options.key]' 
        placeholder='{{to.placeholder}}' 
        aria-label='{{options.key}}' 
        ng-required='to.required' 
        ng-pattern='to.pattern')
    .input-group-append(ng-if='to.inputGroupAddon')
        span.input-group-text {{to.inputGroupAppend}}